    .title {
        text-align: right;
    }

    html, body, * {
        direction: rtl;
        text-align: right;
    }

    #serial, #full_serial{
        direction: ltr;
    }

    form label h5 {
        font-weight: 900;
    }

    .submit_btn {
        float: left;
    }

    .dropdown-menu.show {
        text-align: right;
    }

    /* form{
        max-width: 800px;
        display: grid;
    }
    form div {
        position: relative;
    }
    form div label {
        opacity: 0.3;
        position: absolute;
        top: 22px;
        left: 20px;
    } */